@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;800&display=swap");

:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --grid-color: white;
  --gridline-color: #e0e5e3;

  --clr-dark: #1f2044;
  --clr-bg: #2c2d6a;
  --clr-border: #ff3c3c;
  --clr-accent: #ef9b4a;
  --clr-font: #eaf1ef;
  --clr-btntext: #000000;
  --clr-btn: #8a83ab;
  --clr-btnon: #3cff3c;
  --clr-btnhover: #3c3cff;

  --ff-main: "Nunito", sans-serif;

  --fs-reg: 1rem;
  --fs-btn: 1.1rem;
  --fs-section: 1.5rem;
  --fs-title: 2.2rem;

  --fw-light: 200;
  --fw-reg: 400;
  --fw-semi: 600;
  --fw-bold: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background: var(--clr-bg);
  font-family: var(--ff-main);
}

h1 {
  text-align: center;
  margin: 50px auto 0px auto;
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
  color: var(--clr-font);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.controls {
  display: grid;
  justify-content: center;
  width: 300px;
  margin: 0 50px;
}

h2 {
  text-align: center;
  font-size: var(--fs-section);
  font-weight: var(--fw-bold);
  color: var(--clr-font);
  margin-top: 50px;
}

.size-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px auto 0 auto;
}

/* Grid Lines */
.input-text {
  margin-right: 10px;
}

.switch-field {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
  justify-content: center;
  margin-top: 20px;
}

.switch-field input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: var(--clr-btn);
  color: var(--clr-fontoff);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 12px 22px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: var(--clr-btnon);
  color: var(--clr-fontoff);
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

/* Base canvas size button */
.btn {
  background-color: var(--clr-btn);
  color: var(--clr-btntext);
  margin: 10px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  font-size: var(--fs-btn);
  font-weight: var(--fw-reg);
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--clr-btnon) !important;
}

/* Color Palette */
.palette {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px auto 0 auto;
}

.pal {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  margin: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.col1 {
  background-color: black;
}

.col1:hover,
.col1:focus {
  outline: 3px solid black;
  outline-offset: 3px;
}

.col2 {
  background-color: red;
}

.col2:hover,
.col2:focus {
  outline: 3px solid red;
  outline-offset: 3px;
}

.col3 {
  background-color: orange;
}

.col3:hover,
.col3:focus {
  outline: 3px solid orange;
  outline-offset: 3px;
}

.col4 {
  background-color: yellow;
}

.col4:hover,
.col4:focus {
  outline: 3px solid yellow;
  outline-offset: 3px;
}

.col5 {
  background-color: green;
}

.col5:hover,
.col5:focus {
  outline: 3px solid green;
  outline-offset: 3px;
}

.col6 {
  background-color: blue;
}

.col6:hover,
.col6:focus {
  outline: 3px solid blue;
  outline-offset: 3px;
}

.col7 {
  background-color: pink;
}

.col7:hover,
.col7:focus {
  outline: 3px solid pink;
  outline-offset: 3px;
}

.col8 {
  background-color: white;
}

.col8:hover,
.col8:focus {
  outline: 3px solid white;
  outline-offset: 3px;
}

.col9 {
  background-color: purple;
}

.col9:hover,
.col9:focus {
  outline: 3px solid purple;
  outline-offset: 3px;
}

.col10 {
  background-color: grey;
}

.col10:hover,
.col10:focus {
  outline: 3px solid grey;
  outline-offset: 3px;
}

/* Erasers */
.erasers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px auto 0 auto;
}

/* Pixel grid */
.grid-container {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  /*background-color: blue;*/
  justify-content: center;
  border: solid 30px var(--clr-border);
  border-radius: 10px;
  box-shadow: -2px 2px 1px 1px #b62b2b, 1px 1px 2px 1px #ffacac,
    1px 0px 2px 1px #ffacac;
  width: 800px;
  height: 800px;
}

@media (max-width: 1200px) {
  .grid-container {
    width: 600px;
    height: 600px;
  }
}

@media (max-width: 1000px) {
  main {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .grid-container {
    width: 400px;
    height: 400px;
  }
}

.defaultGridBlock {
  background-color: var(--grid-color);
  border: 1px solid var(--gridline-color);
}

.remove-grid-lines {
  border: 0px solid var(--gridline-color);
}

.targetColor {
  background-color: black;
}

/* Footer */
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
}
